.fundo-candidato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #D4E8FF;
}

.form-cadCandidato {
    width: 50vw;
    height: auto;
}

.conteudo-candidato {
    margin: 20px;
}

.conteudo-formulario-candidato {
    padding-left: 12%;
    padding-right: 12%;
}

.titulo-formulario-candidato {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

label {
    font-weight: 500;
}