.fundo-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: 10%;
    background-color: #D4E8FF;
}

.menu {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}

.form-dash {
    width: 35vw;
    height: 40vh;
    text-align: center;
}


.titulo-page {
    padding: 20px;
    color: rgb(63, 63, 236);
    font-weight: bold;    
}

.conteudo-home {
    margin: 30px;
}

.icone {
    flex: 30%;
    display: grid;
    place-items: center;
}

.button-vg {
    height: 120px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid rgb(63, 63, 236);
    background: none;
    margin-top: 30px;
    margin-left: 120px;
    color: rgb(63, 63, 236);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-vg:hover {
    background: rgb(63, 63, 236);
    color: #fff;
}

.button-lista {
    color: rgb(0, 28, 128);
}

.icone-lista {
    color: red;
    margin-right: 15px;
}

.icone2-lista {
    color: rgb(7, 162, 25);
    margin-right: 20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}

.title5 {
    color: rgb(0, 28, 128);
}