.fundo-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 150px;
    background-color: #D4E8FF;
}

.menu {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}

/*
.title-tela {
    color: rgb(20, 28, 184);
}
*/

.form-dash {
    width: 35vw;
    height: 40vh;
    text-align: center;
}


.titulo-page {
    padding: 20px;
    color: rgb(63, 63, 236);
    font-weight: bold;    
}


.conteudo-home {
    margin: 30px;
}

.icone {
    flex: 30%;
    display: grid;
    place-items: center;
}

.button-esq {
    color: black;
    font-size: 15px;
    text-align: center;
    display: grid;
    height: 100px;
    width: 250px;
    padding: 25px 50px;
}

.button-dir {
    color: black;
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 250px;
    padding: 25px 50px;
    margin-left: 12px;
}

.button-lista {
    color: rgb(0, 28, 128);
}

.icone-lista {
    color: red;
    margin-right: 15px;
}

.icone2-lista {
    color: rgb(7, 162, 25);
    margin-right: 20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}

.title5 {
    color: rgb(0, 28, 128);
}