.fundo-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 1350px;*/
    height: 100%;
    margin-left: 20%;
    position: absolute;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

/*
.title-tela {
    color: rgb(20, 28, 184);
}
*/

.form-dash {
    width: 35vw;
    height: 300px;
    text-align: center;
}


.titulo-page {
    margin: 40px;
    margin-bottom: 30px;
    color: rgb(63, 63, 236);
    font-weight: bold;    
}


.conteudo-home {
    margin: 30px;
}

.icone {
    flex: 30%;
    display: grid;
    place-items: center;
}

/*
.button-esq {
    color: black;
    font-size: 15px;
    text-align: center;
    display: grid;
    height: 100px;
    width: 250px;
    padding: 25px 50px;
}

.button-dir {
    color: black;
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 250px;
    padding: 25px 50px;
    margin-left: 12px;
}
*/

.button-vg {
    height: 120px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid rgb(63, 63, 236);
    background: none;
    margin-top: 30px;
    margin-left: 140px;
    color: rgb(63, 63, 236);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-vg:hover {
    background: rgb(63, 63, 236);
    color: #fff;
}

/*
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}
*/

.button-lista {
    color: rgb(0, 28, 128);
}

.icone-lista {
    color: red;
    margin-right: 15px;
}

.icone2-lista {
    color: rgb(7, 162, 25);
    margin-right: 20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}

.title5 {
    color: rgb(0, 28, 128);
}